In [1]:
import pandas as pd
import numpy as np

In [148]:
enroll = pd.read_csv("enrolment-by-institutions.csv", index_col = ["year"], na_values = "-")
# enroll = enroll.fillna(0)
enroll = enroll.dropna()
col = enroll.columns

for value in col:
    if enroll[value].dtype == "float64":
        enroll[value] = enroll[value].astype(int)
    else:
        pass
enroll

,sex,nus,ntu,smu,sit,sutd,suss,nie,singapore_polytechnic,ngee_ann_polytechnic,temasek_polytechnic,nanyang_polytechnic,republic_polytechnic,lasalle_diploma,lasalle_degree,nafa_diploma,nafa_degree,ite
year,,,,,,,,,,,,,,,,,,
2014,MF,26797,23021,7515,3557,886,217,1913,15905,16227,16138,16092,14952,1190,1176,2022,53,28036
2014,F,14042,11623,3883,1482,363,145,1313,6175,7758,7900,8189,7914,773,846,1440,31,10249
2015,MF,27288,23512,7740,4039,1235,489,1549,15297,15611,15425,15842,14690,1173,1262,2106,59,29295
2015,F,14423,11860,4062,1693,522,330,1015,6022,7465,7585,8177,7736,765,905,1483,40,11267
2016,MF,27702,23495,7827,5230,1381,896,1443,14671,14866,14662,15035,13915,1150,1311,2390,50,27519
2016,F,14617,11633,4047,2306,551,609,1010,5766,7243,7115,7661,7343,741,946,1745,31,10346
2017,MF,28134,22934,7979,6138,1545,1451,1122,14298,14599,14239,14734,13566,1241,1330,2537,39,28508
2017,F,14600,11079,4193,2626,603,1011,804,5611,7304,6802,7398,7022,783,987,1830,24,10804
2018,MF,29037,22813,8182,6951,1658,2049,1309,14337,14543,14248,14715,13142,1294,1339,2484,43,28367
2018,F,14981,10896,4486,2905,626,1399,924,5559,7469,6688,7304,6703,842,981,1785,28,10707

In [27]:
# (enroll.iloc[0] - enroll.iloc[1])
# enroll.index[0][0]
# row = [enroll.index[0][0], (enroll.iloc[0] - enroll.iloc[1])]
# print(row)

nus                      12755.0
ntu                      11398.0
smu                       3632.0
sit                       2075.0
sutd                       523.0
suss                        72.0
nie                        600.0
singapore_polytechnic     9730.0
ngee_ann_polytechnic      8469.0
temasek_polytechnic       8238.0
nanyang_polytechnic       7903.0
republic_polytechnic      7038.0
lasalle_diploma            417.0
lasalle_degree             330.0
nafa_diploma               582.0
nafa_degree                 22.0
ite                      17787.0
dtype: float64

In [44]:
male = []
for i in range(len(enroll)-1):
    if enroll.index[i][0] == enroll.index[i+1][0]:
        male.append((enroll.iloc[i] - enroll.iloc[i + 1]))

In [84]:
# enroll.iloc[9]
# len(male)
# print(len(enroll))
enroll.index[0][0].dtype
# enroll.loc[(2014, 'MF')]

dtype('int64')

In [156]:
index = int(len(enroll) - 1)
for i in range(1, int(len(male) + 1)):
    for values in male[i-1]:
        enroll.loc[str(enroll.index[i][0])] = int(values[1]) + int(values[2]) + int(values[3]) + int(values[4]) + int(values[5]) + int(values[6]) + int(values[7]) + int(values[8]) + int(values[9]) + int(values[10]) + int(values[11]) + int(values[12]) + int(values[13]) + int(values[14]) + int(values[15]) + int(values[16]) + int(values[17])

TypeError: 'int' object is not subscriptable

In [149]:
enroll.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 2014 to 2018
Data columns (total 18 columns):
sex                      10 non-null object
nus                      10 non-null int64
ntu                      10 non-null int64
smu                      10 non-null int32
sit                      10 non-null int32
sutd                     10 non-null int32
suss                     10 non-null int32
nie                      10 non-null int64
singapore_polytechnic    10 non-null int64
ngee_ann_polytechnic     10 non-null int64
temasek_polytechnic      10 non-null int32
nanyang_polytechnic      10 non-null int32
republic_polytechnic     10 non-null int32
lasalle_diploma          10 non-null int32
lasalle_degree           10 non-null int32
nafa_diploma             10 non-null int32
nafa_degree              10 non-null int32
ite                      10 non-null int64
dtypes: int32(11), int64(6), object(1)
memory usage: 1.1+ KB