In [1]:
import pandas as pd

In [11]:
overseasgrad = pd.read_csv(r"C:\Users\Jurgen\Desktop\PDS-Assignment-1\Assignment 2\Raw Data\resident-uni-grads-aged-15-yrs-over-by-field-of-study-country-where-hqa-sex.csv",
                          index_col = ["year"]).rename(columns = {"level_1" : "Country",
                                                                  "level_2" : "Gender",
                                                                  "level_4" : "Field",
                                                                  "value" : "Graduates (Thousands)"}).drop(columns = "level_3")
overseasgrad

,Country,Gender,Field,Graduates (Thousands)
year,,,,
2015,Total,Total,Education,33.6
2015,Total,Total,Fine & Applied Arts,17.5
2015,Total,Total,Humanities & Social Sciences,96.2
2015,Total,Total,Mass Communication & Information Science,18.2
2015,Total,Total,Business & Administration,274.7
...,...,...,...,...
2015,Outside Singapore- Others,Females,Health Sciences,3.3
2015,Outside Singapore- Others,Females,Information Technology,3.4
2015,Outside Singapore- Others,Females,"Architecture, Building & Real Estate",0.8
2015,Outside Singapore- Others,Females,Engineering Sciences,3.9
2015,Outside Singapore- Others,Females,Others,1.1

In [13]:
overseasgrad = overseasgrad[overseasgrad.Country.str.contains('^Outside')]

In [19]:
overseasgrad = overseasgrad[overseasgrad.Country == "Outside Singapore- Total"]
overseasgrad = overseasgrad[overseasgrad.Gender == "Total"]
overseasgrad

,Country,Gender,Field,Graduates (Thousands)
year,,,,
2015,Outside Singapore- Total,Total,Education,8.2
2015,Outside Singapore- Total,Total,Fine & Applied Arts,9.6
2015,Outside Singapore- Total,Total,Humanities & Social Sciences,40.3
2015,Outside Singapore- Total,Total,Mass Communication & Information Science,7.5
2015,Outside Singapore- Total,Total,Business & Administration,96.8
2015,Outside Singapore- Total,Total,Law,7.8
2015,Outside Singapore- Total,Total,"Natural, Physical, Chemical & Mathematical Sci...",24.7
2015,Outside Singapore- Total,Total,Health Sciences,18.8
2015,Outside Singapore- Total,Total,Information Technology,35.4
2015,Outside Singapore- Total,Total,"Architecture, Building & Real Estate",7.8
2015,Outside Singapore- Total,Total,Engineering Sciences,71.0
2015,Outside Singapore- Total,Total,Others,6.4